APP_NAME=URL Shortener API
APP_HOST=0.0.0.0
APP_PORT=8000
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://your_user:your_password@localhost:5432/your_db
SHORT_CODE_LENGTH=6
SHORT_CODE_ALPHABET=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
JWT_KEY=your_jwt_secret_key_here_generate_new_one
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=noreply@yourservice.com